<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/responsive_text" method="post">
        <input type="text" name="text">
        <button type="submit">
            <span></span>
            <h2>Find the answer of your question</h2>
        </button>
    </form>
    <form action="/image_information" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">
            <span></span>
            <h2>upload the image</h2>
        </button>
    </form>
</body>

</html>