<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        /* Adjust as needed */
    }

    .image-container {
        max-width: 80%;
        /* Adjust as needed */
        max-height: 80%;
        /* Adjust as needed */
        text-align: center;
    }
</style>

<body>
    <div class="center">
        <div class="image-container">
            <h2>Uploaded Image:</h2>
            <img src="{{ url_for('static', filename=filename) }}" alt="Uploaded Image">
            <h3>{{answer_img | safe}}</h3>
        </div>
    </div>
</body>

</html>